.nav{
    width: 450px;
    height: 320px;
}
.continer1{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    height: 400px;
}
.menu{
    font-size: 50px;
    text-align: center;
}
.class{
    font-size: 20px;
}
.salom{
    width: 400px;
}
.continer2{
    display: flex;
    justify-content: space-around;
}
.farruxbek{
    line-height: 30px;
    color: black;
}
.cola{
    color: white;
}
.continer3{
    background-color: black;
    
}
p{
    color: white;
    line-height: 25px;
}
.pepsi{
    width: 200px;
    height: 200px;
}